# Test 1: Missing file error
cmd: -o maxAlt ./src/test/resources/feature5/test1.csv
output:
ERROR: MISSING_FILE - ./src/test/resources/feature5/test1.csv
---

# Test 2: Average altitude
cmd: -o avgAlt ./src/test/resources/custom/feature4/test1.csv
output:
1948.24
---

# Test 3: Average altitude
cmd: -o avgAlt ./src/test/resources/custom/feature4/test2.csv
output:
883.82
---

# Test 4: Flight duration 1
cmd: -o flightDuration ./src/test/resources/custom/feature5/test2.csv
output:
01:07:16
---

# Test 4: Flight duration 2
cmd: -o flightDuration ./src/test/resources/0_301_Su-25T.frd
output:
00:51:17
---

# Test 4: Flight duration 3
cmd: -o flightDuration ./src/test/resources/0_201_MiG-23MLD.frd
output:
00:12:36
---

# Test 4: Flight duration 3
cmd: -o flightDuration ./src/test/resources/flightReport_fl12.frd
output:
00:00:28
---

# Test 5: Flight distance
cmd: -o flightDistance ./src/test/resources/custom/feature5/test2.csv
output:
775273.14
---

# Test 6: Full flight report
cmd: ./src/test/resources/custom/feature5/test2.csv
output:
Flight Report for flight:301
avgAcceleration: 0.08
avgAccelerationCruise: -0.17
avgAccelerationLanding: -0.03
avgAccelerationTakeOff: 3.47 
avgAirSpeed: 78.68
avgAirSpeedCruise: 80.63
avgAirSpeedLanding: 8.47
avgAirSpeedTakeOff: 124.91
avgAlt: 883.82
avgEnginePower: 19990940.42
avgEnginePowerCruise: 20957175.62
avgEnginePowerLanding: 54468.64
avgEnginePowerTakeOff: 27928134.78
avgHeartRate: 89.06
avgHumidity: 7.47
avgMachSpeed: 0.23
avgOxygen: 37.43
avgPressure: 25060.78
avgTemp: 25.23
cruise: start=04:01:41 / end=05:06:27
fastJetAlt: 4495.24: 283.42
fastWindAlt: 3194.80: 78.33
flightDistance: 775273.14
flightDistanceCruise: 762.60
flightDistanceLanding: 0.52
flightDistanceTakeOff: 12.15
flightDuration: 01:07:16
landing: start=05:06:27 / end=05:07:34
maxAccelG: -6.72
maxAcceleration: -65.88
maxAccelerationCruise: 58.68
maxAccelerationLanding: 4.02
maxAccelerationTakeOff: 53.54
maxAirSpeed: 233.02
maxAirSpeedCruise: 233.02
maxAirSpeedLanding: 11.93
maxAirSpeedTakeOff: 186.34
maxAlt: 4530.37
maxEnginePower: 103485589.87
maxEnginePowerCruise: 103485589.87
maxEnginePowerLanding: 265811.48
maxEnginePowerTakeOff: 82604345.50
maxHeartRate: 102.10
maxHumidity: 8.66
maxMachSpeed: 0.68
maxOxygen: 65.35
maxPressure: 27768.86
maxTemp: 34.10
minHeartRate: 77.50
minHumidity: 6.31
minOxygen: 30.68
minPressure: 22325.86
minTemp: 17.54
mostAccelPhase: TakeOff:3.52
mostPowerPhase: TakeOff:27928134.78
mostStressPhase: Landing:89.83
noiseTemp: -0.23
oxygenPhase: Cruise
ratioDistance: 1183.64
reachAlt: 34.83 / 4530.37
reachDist: 46.90 / 775273.14
stressedPilot: n
takeOff: start=04:00:17 / end=04:01:41
windSpeed: 17.50
windSpeedCruise: 17.06
windSpeedLanding: -0.79
windSpeedTakeOff: 42.18

Multiple flight analysis :301
airportLanding: nalchik
airportTakeOff: tbilissi-lochini
closeFlight: 

closeFlightDiffOri: 

closeFlightSameOri: 

cumulDistance: 775273.14
cumulDuration: 01:07:16
firstLanding: 301:nalchik:05:07:34
highestAltitude: 4530.37
highestDrag: 0.01
highestHeartBeat: 89.06
highestLift: 1.18
highestOxygen: 37.43
highestPower: 19990940.42
highestSpeed: 283.25
lastLanding: 301:nalchik:05:07:34
longestDuration: 01:07:16
lowestHeartBeat: 89.06
slowestSpeed: 283.25
smallestDrag: 0.01
smallestLift: 1.18
---

